.wrap {
    width: 80%;
    margin: 0 auto;
}

.main-nav {
    background-color: beige;
    width: 100%;
    padding: 50px 30px;
    font-size: 30px;
}

.main-nav nav {
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    margin-right: 30px;
}

.main-nav nav:hover {
    background-color: gold;
}
